# SPDX-License-Identifier: MIT
---
# Put the tasks for your role here.

# An example of how to set distribution and version specific internal variables
# (defined in vars/ directory)
# see https://github.com/oasis-roles/meta_standards#platform-specific-variables
- name: Set platform/version specific variables
  include_vars: "{{ __podman_vars_file }}"
  loop:
    - "{{ ansible_facts['os_family'] }}.yml"
    - "{{ ansible_facts['distribution'] }}.yml"
    - >-
      {{ ansible_facts['distribution'] ~ '_' ~
      ansible_facts['distribution_major_version'] }}.yml
    - >-
      {{ ansible_facts['distribution'] ~ '_' ~
      ansible_facts['distribution_version'] }}.yml
  vars:
    __podman_vars_file: "{{ role_path }}/vars/{{ item }}"
  when: __podman_vars_file is file

# Examples of some tasks:
- name: Ensure required packages are installed
  package:
    name: "{{ __podman_packages }}"
    state: present

#- name: Ensure required services are enabled and started
#  service:
#    name: "{{ item }}"
#    state: started
#    enabled: yes
#  loop: "{{ __podman_services }}"
