[Unit]
Description={{ container_name }} Podman Container
{% for unit in podman_systemd_after %}
After={{ unit }}
{% endfor %}
{% for unit in podman_systemd_before %}
Before={{ unit }}
{% endfor %}
{% for unit in podman_systemd_conflicts %}
Conflicts={{ unit }}
{% endfor %}
{% for unit in podman_systemd_requires %}
Requires={{ unit }}
{% endfor %}
{% for unit in podman_systemd_wants %}
Wants={{ unit }}
{% endfor %}

[Service]
Type=forking
TimeoutStartSec={{ podman_systemd_timeout_start_sec }}
ExecStartPre=-/usr/bin/podman pod rm -f {{ container_name }}
{% if container_run_as_user == 'root' %}
User={{ container_run_as_user }}
{% endif %}
RemainAfterExit=yes

ExecStart=/usr/bin/podman play kube {{ container_pod_yaml }}

ExecReload=-/usr/bin/podman pod stop {{ container_name }}
ExecReload=-/usr/bin/podman pod rm -f {{ container_name }}
ExecStop=-/usr/bin/podman pod rm -f {{ container_name }}
Restart={{ container_restart }}
RestartSec={{ podman_systemd_restart_sec }}
Environment=PODMAN_SYSTEMD_UNIT=%n

[Install]
{% if container_run_as_user == 'root' %}
WantedBy=multi-user.target
{% endif %}
{% if container_run_as_user != 'root' %}
WantedBy=default.target
{% endif %}
{% for unit in podman_systemd_required_by %}
RequiredBy={{ unit }}
{% endfor %}
{% for unit in podman_systemd_wanted_by %}
WantedBy={{ unit }}
{% endfor %}
