{{ ansible_managed | comment }}
{{ "system_role:podman" | comment(prefix="", postfix="") }}
{% macro render_option(key, value) %}
{%   if (value is iterable and ((value is not string) and (value is not mapping))) %}
{{ key }}={{ value }}
{%   elif value is mapping and value is not string %}
{{ key }} = [{%- for k in value %} "{{k}}={{value[k]}}", {%- endfor %}]
{%   elif value is not string %}
{{ key }} = {{ value }}
{%   else %}
{{ key }}="{{ value }}"
{%   endif %}
{% endmacro %}
{% if __conf is defined and __conf is iterable %}
{%   for key in __globals | d([]) %}
{%     if key in __conf %}
{{ render_option(key, __conf[key]) -}}
{%     endif %}
{%   endfor %}
{%   for section in __conf %}
{%     if not section in __globals | d([]) %}
[{{ section }}]
{%       for key in __conf[section] %}
{{ render_option(key, __conf[section][key]) -}}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
